{% extends 'weather/base.html' %}
{% load static %}


{% block content %}
<main class="page page--login wrapper-center">
    <div class="login__container">
        <h1 class="head-title">
            Weather
            <span>App</span>
        </h1>
        <form action="{% url 'accounts:login' %}" method="post" class="login-form form form-flex">
            <h1 class="login-form__title">Login</h1>
            {% csrf_token %}
            {% for field in form %}
            <div class="login-form__box">
                {{ field }}
                {% if field.name == "email" %}
                <span class="login-form__icon icon--icon-user"></span>
                {% elif field.name == "password" %}
                <span class="login-form__icon icon--icon-lock"></span>
                {% endif %}
            </div>
            {% endfor %}
            {% if form.non_field_errors %}
            <div class="text-danger">
                {{ form.non_field_errors }}
            </div>
            {% endif %}
            <div class="login-form__forgot">
                <label>
                    <input type="checkbox">
                    Remember me
                </label>
                <a href="{% url 'accounts:password_reset' %}">Forgot password?</a>
            </div>
            <button type="submit" class="btn login-form__btn">Login</button>
            <div class="login-form__link">
                <p>
                    Don't have an account?
                    <a href="{% url 'accounts:register' %}">Register</a>
                </p>
            </div>
        </form>
    </div>
</main>
{% endblock %}
