{% extends 'weather/base.html' %}
{% load static %}
{% block title %}Reset Password{% endblock %}

{% block content %}

<main class="page page--reset-pwd wrapper-center">
    <div class="reset-pwd__container">
        <form method="post" class="reset-form form form-flex">
            {% csrf_token %}
            <h2 class="reset-form__title">Reset password</h2>
            {% for field in form %}
            <div class="reset-form__box">
                {{ field }}
                <span class="reset-form__icon icon--icon-email"></span>
            </div>
            {% if field.errors %}
                <div class="text-danger">
                    {{ field.errors }}
                </div>
                {% endif %}
            {% endfor %}
            <button type="submit" class="btn reset-form__btn">Reset</button>
        </form>
    </div>
</main>
{% endblock %}
