{% extends 'weather/base.html' %}
{% block title %}Enter New Password{% endblock %}
{% block content %}
<main class="page page--reset__confirm wrapper-center">
    <div class="reset__confirm__container">
        <form method="post" class="reset__confirm-form form form-flex">
            <h2 class="reset__confirm-form__title">New Password</h2>
            {% csrf_token %}
            {% if form.non_field_errors %}
            <ul>
                {% for error in form.non_field_errors %}
                <li class="text-danger">{{ error }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            {% for field in form %}
            <div class="reset__confirm-form__box">
                {{ field }}
                <span class="reset__confirm-form__icon icon--icon-lock"></span>
            </div>
            {% for error in field.errors %}
            <div class="text-danger">{{ error }}</div>
            {% endfor %}
            {% endfor %}
            <button type="submit" class="btn reset__confirm-form__btn">Reset password</button>
        </form>
    </div>
</main>
{% endblock %}
